body {
    background-color: rgb(14, 14, 107);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

form {
    margin-top: 2rem;


}

input {
    width: 20%;
    height: 30px;
}

button {
    padding: 8px 15px;
    border-radius: 15px;

}

input:focus {
    outline: none;
}

h1 {
    color: yellow;
}

h4 {
    color: aliceblue;
}